# Nuxt.js / Node.js
node_modules/
# .nuxt/
.output/
dist/
.cache/
.temp/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*
!.env.example

# OS metadata
.DS_Store
Thumbs.db

# IDEs / Editors
.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo

# Testing
/coverage

# Lock files (GitHub Actions や Cloudflare Pages のビルドに必要)
!package-lock.json
!pnpm-lock.yaml
!yarn.lock
